### Pandas - сводные таблицы и объединения

1.Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId

In [4]:
import pandas as pd
import numpy as np
from typing import List
from functools import reduce

df = pd.read_csv('ratings.csv')
df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
ratings = pd.read_csv('ratings.csv')

users = ratings.groupby('userId').agg({'timestamp': ['min', 'max'], 'movieId': 'count'})
users = users[users['movieId']['count'] > 100]
users['Lifetime'] = users.apply(lambda row: row['timestamp']['max'] - row['timestamp']['min'], axis=1)

avg_life_time = round(users['Lifetime'].mean())

print(avg_life_time)

40080507

 2.Дана статистика услуг перевозок клиентов компании по типам (см. файл с кодом занятия). Необходимо сформировать две таблицы:

 -таблицу с тремя типами выручки для каждого client_id без указания адреса клиента.
 
 -аналогичную таблицу по типам выручки с указанием адреса клиента
Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [5]:
rzd = pd.DataFrame({'client_id': [111, 112, 113, 114, 115], 'rzd_revenue': [1093, 2810, 10283, 5774, 981]})

auto = pd.DataFrame({'client_id': [113, 114, 115, 116, 117], 'auto_revenue': [57483, 83, 912, 4834, 98]})

air = pd.DataFrame({'client_id': [115, 116, 117, 118], 'air_revenue': [81, 4, 13, 173]})

client_base = pd.DataFrame({'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
                            'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14',
                            'ЗЖБИиДК 1', 'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']})

def merge_dfs(dfs: List[pd.DataFrame], **kwargs) -> pd.DataFrame:
    return reduce(lambda res, df: res.merge(df, **kwargs), dfs)

merged_data = merge_dfs([client_base, rzd, auto, air], on='client_id', how='outer')

merged_data.drop(columns='address')
merged_data

   client_id          address  rzd_revenue  auto_revenue  air_revenue
0        111  Комсомольская 4       1093.0           NaN          NaN
1        112   Энтузиастов 8а       2810.0           NaN          NaN
2        113  Левобережная 1а      10283.0       57483.0          NaN
3        114          Мира 14       5774.0          83.0          NaN
4        115        ЗЖБИиДК 1        981.0         912.0         81.0
5        116    Строителей 18          NaN        4834.0          4.0
6        117  Панфиловская 33          NaN          98.0         13.0
7        118     Мастеркова 4          NaN           NaN        173.0

3.В задаче сквозной аналитики вам предоставили данные по местоположению пользователей. Т. е. для каждого user_id известна последовательность координат (широта/долгота), когда они требовались приложению для полноценной работы. Как бы вы добавили эти сведения в таблицу визитов и покупок?

1) Провереяем является ли user_id уникальным. Если нет - создать уникальный ID.

2) Так как мы имеем уникальный id и добавляемые нами сведенья являются числовыми, мы можем сделать одельную таблицу.

3) Далее вносим в таблицу сведения о визитах и покупках. Или используем уже имеющуюся таблицу, может быть даже имеющийся у магазина dataset. Полученную таблицу можно анализировать как угодно.