Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [41]:
import pandas as pd

movies = pd.read_csv('C:\DB\mllatestsmall\m.csv')
ratings = pd.read_csv('C:\DB\mllatestsmall\i.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [42]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [48]:
(
    ratings
    .merge(movies, on='movieId')
    .query('rating == 5.0')
    [['title', 'rating']]
    .groupby(by='title')
    .size()
    .sort_values(ascending=False)
    .head(1)
)

title
Shawshank Redemption, The (1994)    153
dtype: int64

Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [59]:
import pandas as pd

power_df = pd.read_csv('C:\DB\power.csv')

(
    power_df
    .query('country == "Latvia" or country == "Lithuania" or country == "Estonia"')
    .query('category == 4 or category == 12 or category == 21')
    .query('2005 <= year <= 2010')
    .query('quantity > 0')
    ['quantity']
    .sum()
)

240580.0

Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

In [66]:
import pandas as pd

df = pd.read_html('https://fortrader.org/quotes', header=0)[0]

df

                               Type    Last   Chg.  Chg.%  Time
0  Нефть (BRENT) Курс нефти сегодня  64.320  0.330  0.520   NaN
1   Нефть (WTI) Цены на нефть (WTI)  58.820  0.440  0.750   NaN
2          Сахар котировки на сахар  12.630  0.000  0.000   NaN
3                   Газ Цена на газ   2.701  0.009  0.334   NaN